%h1 Cricket Teams
.row
  - @teams.each do |team|
    .col.s12.m6
      .card.yellow.darken-1.z-depth-2
        .card-content.white-text
          %span.card-title
            = team.name
        .card-action
          %a{:href=>"#"}
            = link_to image_tag('edit-table_icon.png'), edit_team_path(team)
          %a{:href=>"#"}
            = link_to image_tag('deletecircle.png'), team, :method => :delete, :data => { :confirm => 'Are you sure?' }


