%h1 Players
%ul.collection
  - @players.each do |player|
    %li.collection-item
      = player.full_name
      %span.float-right.margin_fix
        = link_to 'Show', player, class: 'btn'
        = link_to 'Delete', player, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn red'

%br

= link_to 'New Player', new_player_path, class: 'btn'
