%h1 Players
%ul.collection
  - @players.each do |player|
    %li.collection-item
      = player.full_name
      %span.float-right
        = link_to 'Show', player
        = link_to 'Delete', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path, class: 'btn'
