%footer.page-footer.light-blue
  .container
    .row
      .col.l6.s12
        %h5.white-text
          Manage Cricket Informations
        %p.grey-text.text-lighten-4

        .col.l9.s12
          %h5.white-text
            Quick Links
          %ul
            %li
              %a.white-text{:href=>"#{players_path}"}
                All Players
            %li
              %a.white-text{:href=>"#{teams_path}"}
                All Teams
    .footer-copyright
      .container
        Made by
        %a.orange-text.text-lighten-3{:href=>"http://xploratechnologies.github.io/"}
          Xplora Technologies

