%footer.page-footer.light-blue
  .container
    .row
      .col.l6.s12
        %h5.white-text
          Manage Cricket Informations
        %p.grey-text.text-lighten-4
          
        .col.l3.s12
          %h5.white-text
            Profiles
          %ul
            %li
              %a.white-text{:href=>"#"}
                Link 1
    .footer-copyright
      .container
        Made by 
        %a.orange-text.text-lighten-3{:href=>"#"}
          Xplora Technologies

